@charset "utf-8";
/* CSS Document */
body header h1{
	font-size: 70px;
	padding: 30px;
	margin-top: 70px;
	text-align: center;
}
body{
		height: 100px;
		background:url("SLo3-journal background1123.jpg") fixed no-repeat center;
		font-family: 'Jua', sans-serif;
		  }
section{
			margin:70px 0; 
		  }
section .card{
	
	margin-bottom:20px;
}
footer{
	bottom:0px;
	background-color: rgba(5,4,4,0.4);
	color:#C2C4B8;
	width: 100%;
	padding:3px;
	font-family: 'Jua', sans-serif;
	
}
footer .form-inline{
	margin-top: 50px;
	margin-left: 1000px;
}

